{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
{% endblock %}
{% block content %}
<div class="content">
    
    <div class="container">
      <div class="row align-items-stretch justify-content-center no-gutters">
        <div class="col-md-7">
          <div class="form h-100 contact-wrap p-5">
            <h3 class="text-center">Registrar usuario</h3>
            <form id="basic-form" action="" method="POST" enctype="multipart/form-data">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-flex justify-content-center">
                        
                        <a href="{% url 'usuario:listado_usuarios'  %}" class="btn btn-danger">Cancelar</a>
                        <button class="btn btn-primary" type="submit" >Registrar</button>
                        <!-- <input type="reset" value="Cancelar" class="btn btn-secondary">
                        <input type="submit" value="Guardar" class="btn btn-primary"> -->
                    </div>
            </form>

            <div id="form-message-warning mt-4"></div> 
            <div id="form-message-success">{{mensaje}}</div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      $("#basic-form").validate({
        rules: {
          email: {
            required: true,
            minlength: 5
          },
          nombres: {
            required: true,
            minlength: 2
          },
          apellidos: {
            required: true,
            minlength: 2
          },
          username: {
            required: true,
            minlength: 2
          },
          tipo_usuario: {
            required: true
          },
          password1: {
            required: true,
            minlength: 4
          }
          ,
          password2: {
            required: true,
            minlength: 4
          }
        },
        messages : {
          email: {
            required: "Debe ingresar un correo electronico ",
            minlength: "Demasiado corto"
          },
          nombres: {
            required: "Debe ingresar un nombre",
            minlength: "Demasiado corto"
          },
          apellidos: {
            required: "Debe ingresar un apellido",
            minlength: "Demasiado corto"
          },
          username: {
            required: "Debe ingresar un nombre de usuario",
            minlength: "Demasiado corto"
          },
          tipo_usuario: {
            required: "Debe seleccionar un tipo de usuario"
          },
          password1: {
            required: "Debe ingresar una contraseña",
            minlength: "Demasiado corta"
          },
          password2: {
            required: "Debe verificar su contraseña",
            minlength: "Demasiado corta"
          }
        }
      });
    });
  </script>
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}