{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
{% endblock %}
{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Lista de usuarios</h2>
        <div class="mb-5 mt-2 text-center">
          <a class="btn btn-block btn-primary rounded-0 py-2 px-4" href="{% url 'agregar-producto' %}" style="float: right;">Agregar producto</a>
        </div>
      </div>

      <div class="row portfolio-container">
        
        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Nombres</th>
                        <th>Rol</th>
                        <th>Opciones</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for u in usuario %}
                    <tr>
                        <td> {{u.id}}</td>
                        <td> {{u.username}}</td>
                        <td> {{u.nombres}}</td>
                        <td> {{u.tipo_usuario}}</td>
                        <td>
                            <a href="{% url 'u:eliminar_usuario' usuario.id%}" class="btn btn-danger">Eliminar</a>
                            <a href="{% url 'u:editar_usuario' usuario.id%}" class="btn btn-primary">Editar</a>
                        </td>
                    </tr>


                    {% endfor %}
                </tbody>
            </table>


        </div>
      </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}