<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
</head>
<body>
    <!--Login-->
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->
          <h2 class="active"> Iniciar sesión </h2>

      
          <!-- Icon -->
          <div class="fadeIn first">
            <img src="{% static 'img/icon_peq.png' %}" id="icon" alt="User Icon" />
          </div>
      
          <!-- Login Form -->
          <form method="POST">
            {% csrf_token %}
            <input type="text" id="login" class="fadeIn second" placeholder="Nombre de usuario" name="username">
            <input type="password" id="password" class="fadeIn third" placeholder="Contraseña" name="password">
            <button type="submit" class="fadeIn fourth" value="Log In">Inicio de sesion</button>
          </form>
      
          <!-- Remind Passowrd -->
          <div id="formFooter">
            <a class="underlineHover" href="#">¿Olvidó su contraseña?</a>
          </div>
      
        </div>
    </div>
</body>
</html>