{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block content %}
<section id="portfolio" class="portfolio">
	<div class="container">
   
		 <div class="section-title">
		   <h2>Informe venta local</h2>
		 </div>
		 
	<div class="col-lg-12 col-md-10 portfolio-item filter-app">    
    <table class="table">
								<thead>
									<tr>

										<th>Producto</th>
										<th>Cliente Local</th>
										<th>Fecha</th>
										<th>Cantidad</th>
										<th>Precio C/U</th>
										<th>Total Compra</th>
										
									</tr>
								</thead>

								<tbody>

							        

									{% if ventlocal %}
									{% for lista in listaprocesventa %}
										{% for lista2 in ventlocal %}
										{% if lista.proces_venta == lista2.proces_venta %}
											<tr>
											
													<td>{{ lista.nom_producto }} </td>
													<td>{{ lista2.nom_cli }} </td>
													<td>{{ lista.fecha_detall }}</td>
													<td>${{ lista.cantidad }}</td>
													<td>${{ lista.cost_producto }}</td>
													<td>${{ lista.total_compra }}</td>
												
											
											</tr>
										{% endif %}
										{% endfor %}
										
									{% endfor %}
									{% else %}
                                    <td><center>* No hay procesos</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									

									{% endif %}

								</tbody>
                            
							</table>
	</div>
	</div>
</section>
						
						
						
	
						
{% endblock %}

