{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}
{% block content %}
<section id="portfolio" class="portfolio">
	<div class="container">
   
		 <div class="section-title">
		   <h2>Informe venta externa</h2>
		 </div>
		 
	<div class="col-lg-12 col-md-10 portfolio-item filter-app">
    <table class="table">
								<thead>
									<tr>

										<th><center>Producto</center></th>
										<th><center>Cliente Extranjero</center></th>
										<th><center>Fecha</center></th>
										<th><center>Cantidad</center></th>
										<th><center>Precio C/U</center></th>
										<th><center>Total Compra</center></th>
									</tr>
								</thead>

								<tbody>

							        

									{% if ventextran %}
									{% for lista in listaprocesventa %}
										
										<tr>
										{% for lista2 in ventextran %}
											{% if lista.proces_venta == lista2.proces_venta %}
											    <td><center>{{ lista.nom_producto }} </center></td>
												<td><center>{{ lista2.nom_cli }} </center></td>
												<td><center>{{ lista.fecha_detall }}</center></td>
												<td><center>${{ lista.cantidad }}</center></td>
												<td><center>${{ lista.cost_producto }}</center></td>
												<td><center>${{ lista.total_compra }}</center></td>
										    {% endif %}
										{% endfor %}
										
										
										
										</tr>
										
									{% endfor %}
									{% else %}
                                    <td><center>* No hay procesos</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									

									{% endif %}

								</tbody>
                            
							</table>
	</div>
		</div>
</section>				
						
						
	
						
{% endblock %}

