{% extends 'base.html' %}
{% block content %}




</br></br>
        <div class="col-md-5 form-group text-center">
           
            <span class="submitting"></span>
        </div>
    </br>
    
    <table class="table table-bordered">
								<thead>
									<tr>

										<th><center>Producto</center></th>
										<th><center>Cliente Local</center></th>
										<th><center>Fecha</center></th>
										<th><center>Cantidad</center></th>
										<th><center>Precio C/U</center></th>
										<th><center>Total Compra</center></th>
										
									</tr>
								</thead>

								<tbody>

							        

									{% if ventlocal %}
									{% for lista in listaprocesventa %}
										
										<tr>
										{% for lista2 in ventlocal %}
											{% if lista.proces_venta == lista2.proces_venta %}
											    <td><center>{{ lista.nom_producto }} </center></td>
												<td><center>{{ lista2.nom_cli }} </center></td>
												<td><center>{{ lista.fecha_detall }}</center></td>
												<td><center>${{ lista.cantidad }}</center></td>
												<td><center>${{ lista.cost_producto }}</center></td>
												<td><center>${{ lista.total_compra }}</center></td>
										    {% endif %}
										{% endfor %}
										
										
										
										</tr>
										
									{% endfor %}
									{% else %}
                                    <td><center>* No hay procesos</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									<td><center>- -</center></td>
									

									{% endif %}

								</tbody>
                            
							</table>
                        </br></br></br></br></br></br></br></br>
						
						
						
	
						
{% endblock %}

