{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
{% endblock %}
{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="container mt-3">
            <h2>Listado de Ventas Locales</h2>
            <div class="mb-5 mt-2 text-center">
                <a class="btn btn-block btn-primary rounded-3 py-2 px-4" href="{% url 'AgregarVentaLol' %}" style="float: right;">Nueva venta Local</a>
            </div>
            <table class=" col-md-5 table">
                <tr>
                    <th>Id venta Local</th>
        
                    <th>Nombre Cliente </th>
                    <th>Apellido </th>
                    <th>Correo</th>
                    <th>Direccion</th>
                    <th>Numero calle</th>
                    <th>Departamento</th>
                    <th>Comuna</th>
                    <th>Region</th>
                    <th>Opciones</th>
                </tr>
        
                {% for i in venta_Local %}
                    <tr>
                        <td>{{i.id_vent_loc}}</td>
                        <td>{{i.nom_cli}}</td>
                        <td>{{i.ape_cli}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.direc_cli}}</td>
                        <td>{{i.num_calle}}</td>
                        <td>{{i.depto}}</td>
                        <td>{{i.region}}</td>
                        <td>{{i.comuna}}</td>
                        <td>
                            <a href="{% url 'editar_ventaLocal' i.id_vent_loc%}" class="btn btn-block btn-primary rounded-3 py-0.5 px-1"> Editar</a>
                            <a href="{% url 'eliminar_ventaLocal' i.id_vent_loc%}" class="btn btn-block btn-danger rounded-3 py-0.5 px-1"> Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
          </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}