{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
{% endblock %}
{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Mis productos</h2>
        <p>Aquí podrás encontrar todos tu productos registrados en el sistema.</p>
        <div class="mb-5 mt-2 text-center">
            <a class="btn btn-block btn-primary rounded-0 py-2 px-4" href="{% url 'agregar-producto' %}" style="float: right;">Agregar producto</a>
          </div>
      </div>

      <div class="row portfolio-container">
        {% for p in productos %}
            
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              {% if p.data.5 == user.id %}
              
                  <div class="portfolio-wrap">
                  <img src="data:imagen/png;base64, {{p.imagen}}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>{{ p.data.1 }}</h4>
                    <p>{{ p.data.2 }}</p>
                      <div class="portfolio-links">
                        <a href="data:imagen/png;base64, {{p.imagen}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="{% url 'agregar-pedido' %}" title="More Details"><i class="bx bx-link"></i></a>
                      </div>
                  </div>
                  </div>
              {% endif %}
            </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}