{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
{% endblock %}
{% block content %}
<div class="content">
    
    <div class="container">
      <div class="row align-items-stretch justify-content-center no-gutters">
        <div class="col-md-7">
          <div class="form h-100 contact-wrap p-5">
            <h3 class="text-center">Agregar Producto</h3>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="row mt-5">
                <div class="col-md-8 form-group mb-3">
                  <label for="" class="col-form-label">Producto *</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre del producto">
                </div>
                <div class="col-md-4 form-group mb-3">
                  <label for="" class="col-form-label">Precio *</label>
                  <input type="text" class="form-control" name="precio" id="precio"  placeholder="Precio del producto">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-3">
                  <label for="descripcion" class="col-form-label">Descripción *</label>
                  <textarea class="form-control" name="descripcion" id="descripcion" cols="30" rows="4"  placeholder="Escribe la descripción de tu producto"></textarea>
                </div>
              </div>

              <div class="row  mb-5">
                <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Stock *</label>
                    <input type="text" class="form-control" name="stock" id="stock"  placeholder="Stock del producto">
                  </div>
                  <div class="col-md-6 form-group mb-3">
                    <label for="" class="col-form-label">Imagen *</label>
                    <input type="file" class="form-control" name="foto" id="foto" >
                  </div>
              </div>

              <div class="row">
                <div class="col-md-12 form-group mb-3">
                    <select name="usuarios" id="usuarios">
                        {% for u in usuarios %}
                            <option value="{{ u.data.0 }}">{{ u.data.2 }}</option>
                        {% endfor %}
                    </select>
                </div>
              </div>

              

              
              <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                  <input type="submit" value="Guardar" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>

            <div id="form-message-warning mt-4"></div> 
            <div id="form-message-success">{{mensaje}}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}