{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="container">
      <div class="row align-items-stretch justify-content-center no-gutters">
        <div class="col-md-7">
          <div class="form h-100 contact-wrap p-5">
            <h3 class="text-center">Ingresar Transporte</h3>
            <form id="basic-form" action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="row mt-5">
                <div class="col-md-6 form-group mb-3">
                  <label for="" class="col-form-label">Tipo *</label>
                  <select class="form-control" name="tipot">
                    <option value="selected">Seleccione tipo</option>
                    <option value="39">Cama Baja "Cuello Cisne"/Escalonado</option>
                    <option value="29">Frigorífico</option>
                    <option value="30">Ganadero</option>
                    <option value="31">Grúa Pluma</option>
                    <option value="32">Portacontenedor o Chasis</option>
                    <option value="33">Rampla Plana (Abierta)</option>
                    <option value="35">Side Lifter</option>
                    <option value="36">Tipo Furgón / Cerrado (Carga Seca)</option>
                    <option value="37">Tipo Sider (Cerrado con Lonas)</option>
                    </select>
                <div class="col-md-6 form-group mb-3">
                  <label for="" class="col-form-label">Cubicaje (m³) *</label>
                  <input type="number" min="1" class="form-control" name="ntamano" id="tamano" placeholder="m³">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group mb-3">
                  <label for="" class="col-form-label">Capacidad de carga útil (Kg) *</label>
                  <input type="number" min="1" class="form-control" name="ncapacidad" id="capacidad" placeholder="Kg">
                </div>
                <div class="col-md-6 form-group mb-3">
                  <label for="" class="col-form-label">Patente *</label>
                  <input type="text" class="form-control" name="npatente" id="patente" maxlength="6" style="text-transform:uppercase" placeholder="XXXX00">
                </div>
                <div class="col-md-6 form-group mb-3">
                  ¿Refrigerado?
                  <input type="checkbox" name="refri" id="refri">
                </div>
              </div>
              <div class="col-md-6 form-group mb-3">
                <label for="" class="col-form-label">Subir Imágenes *</label>
                <form action="/action_page.php">
                  <input type="file" id="myFile" name="foto">
                </form>
              </div>
              <div class="row">
                <div class="col-md-12 form-group mb-3">
                    <input style="display: none;" type="text" class="form-control" name="usuarios" id="usuarios" value="{{user.id}}" >
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-5 form-group text-center">
                  <input type="submit" value="Ingresar" class="btn btn-block btn-primary rounded-0 py-2 px-4">
                  <span class="submitting"></span>
                </div>
              </div>
            </form>
<div id="form-message-warning mt-4"></div> 
            <div id="form-message-success">{{mensaje}}
            </div>
            
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script>
  $(document).ready(function() {
    $("#basic-form").validate({
      rules: {
        tipot: {
          required: true,
        },
        ntamano: {
          required: true,
          number: true,
          min: 3
        },
        ncapacidad: {
          required: true,
          number: true,
          minlength: 1
        },
        npatente: {
          required: true,
          minlength: 6
        },
        foto: {
          required: true
        },
        user: {
          required: true,
        }
      },
      messages : {
        tipot: {
          required: "Debe seleccionar el tipo de transporte",
        },
        ntamano: {
          required: "Debe ingresar el cubicaje",
          number: "Debe ingresar cáracteres númericos",
          min: "Debe ser un cubicaje mayor a 3"
        },
        ncapacidad: {
          required: "Debe ingresar la capacidad del transporte",
          minlength: "Debe ingresar mínimo 1 cáracter"
        },
        npatente: {
          required: "Debe ingresar patente del vehículo",
          min: "Debe ingresar una patente válida"
        },
        foto: {
          required: "Debe ingresar la imagen del transporte"
        },
        user: {
          required: "Debe seleccionar una opción"
        }
      }
    });
  });
</script>
{% endblock %}