{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form-prod.css' %}">
{% endblock %}
{% block content %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio">
    <div class="container">

      <div class="section-title">
        <h2>Transporte</h2>
        <p>Aquí se encuentran todos los tipos de camiones a subastar.</p>
      </div>

      <div class="row portfolio-container">
        {% csrf_token %}
        {% for p in transporte %}
		
		

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            {% if p.imagen %}
          <div class="portfolio-wrap">
            <img src="data:imagen/png;base64, {{p.imagen}}" class="img-fluid" alt="">
            <div class="portfolio-info">
              {% if p.data.1 == "29" %}
              <h4>Frigorífico</h4>
			  {% endif %}
			  {% if p.data.1 == "30" %}
              <h4>Ganadero</h4>
			  {% endif %}
			  {% if p.data.1 == "31" %}
              <h4>Grúa Pluma</h4>
			  {% endif %}
			  {% if p.data.1 == "32" %}
              <h4>Portacontenedor o Chasis</h4>
			  {% endif %}
			  {% if p.data.1 == "33" %}
              <h4>Rampla Plana (Abierta)</h4>
			  {% endif %}
			  {% if p.data.1 == "35" %}
              <h4>Side Lifter</h4>
			  {% endif %}
			  {% if p.data.1 == "36" %}
              <h4>Tipo Furgón / Cerrado (Carga Seca)</h4>
			  {% endif %}
			  {% if p.data.1 == "37" %}
              <h4>Tipo Sider (Cerrado con Lonas)</h4>
			  {% endif %}
			  {% if p.data.1 == "39" %}
              <h4>Cama Baja "Cuello Cisne"/Escalonado</h4>
			  {% endif %}
              <p>Capacidad: {{ p.data.3 }}</p>
			  <p>Patente: {{ p.data.7 }}</p>
			 
			  <center><a class="btn btn-primary" href="{% url 'proceso-pedido' p.data.0 %}">Subastar este camión</a></center>
              <div class="portfolio-links">
                <a href="data:imagen/png;base64, {{p.imagen}}" data-gallery="portfolioGallery" class="portfolio-lightbox" ><i></i></a>
                <a href="#" title="More Details"><i></i></a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        
		{% endfor %}
      </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}
{% block js %}
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}